@import "./../common/style/sass/variables.scss";
@import "./../common/style/sass/mixins.scss";

.welcome {
    height: 100vh;
    @include flexPattern(flex, space-around, "", center, "");
    @media screen and (max-width: 550px) {
        @include flexPattern(flex, '', '', '', column)
    }
    .welcomeText {
        width: 300px;
        margin: 20px;
        color: $textColor;
        font-family: 'Montserrat', sans-serif;
        h1 {
            margin-top: 20px;
            margin-left: 35px;
        }
        @media screen and (max-width: 550px) {
            padding-top: 50px;
        }
    }
    .welcomePhoto {
        width: 300px;
        height: 500px;
        margin: 20px;
        box-shadow: 20px 18px 12px rgb(30 32 36);
        transition: box-shadow 100s;
        &:hover {
            //box-shadow: 42px 42px 27px rgb(30 32 36);
        }
        /* эти три свойства нужны, чтобы полностью вписать картинку в элемент */
        /* эти свойства упакованы в mixin */
        @include backgroundImgPattern();
    }
}
